<div class="interior-banner careers">
    <div class="overlay h-100 w-100"></div>
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-8">
                <h1>Careers</h1>
                <p>Always hiring good people.</br>We can't wait to hear from you!</p>
            </div>
        </div>
    </div>
</div>
<div class="careers-four-col">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-12 col-lg-4 text-center main-text">
                <h2>WE'RE <span>HIRING!</span></h2>
                <hr>
                <p>Currently hiring for all seasons! </br> Apply today!</p>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-lg-3">
                <div class="cards">
                    <h3>Established Company</h3>
                    <p>We're been in business for over 30 years, so trust us when we say, we know a thing or two!</p>
                </div>
            </div>
             <div class="col-12 col-lg-3">
                <div class="cards">
                    <h3>Employee Focused</h3>
                    <p>Our employees are the backbone of our company. We do what's right by our own!</p>
                </div>
            </div>
            <div class="col-12 col-lg-3">
                <div class="cards">
                    <h3>Accelerated Growth</h3>
                    <p>The growth we've seen over the past few years has been unprecedented - and we're still growing!</p>
                </div>
            </div>
            <div class="col-12 col-lg-3">
                <div class="cards">
                    <h3>Great Culture</h3>
                    <p>We are proud to be a family-operated business that proudly runs on hard work and honesty.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="form careers">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-4 text">
                <h2>EMPLOYMENT APPLICATION</h2>
                <hr>
                <p>If you're interested in starting a rewarding career, apply here!</p>
                <p><i>We expect all our employees have a driver's license, insurance and a reliable way to get to work every day!</i></p>
            </div>
            <div class="col-12 col-lg-8">
                <form action="https://formsubmit.co/derekschlunt1@hotmail.com" method="POST" enctype="multipart/form-data">
                    <div class="d-none">
                        <input type="text" name="careers-form">
                    </div>
                    <div class="row">
                        <div class="col-12 col-lg-6">
                            <label for="firstName">First Name</label>
                            <input id="firstName" type="text" name="first-name" placeholder="John">
                        </div>
                        <div class="col-12 col-lg-6">
                            <label for="lastName">Last Name</label>
                            <input id="lastName" type="text" name="last-name" placeholder="Smith">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label for="email">Email</label>
                            <input id="email" type="email" placeholder="johnsmith21@gmail.com" name="email" >
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label for="tel">Phone Number</label>
                            <input id="tel" type="tel" placeholder="123-456-7890" name="phone" >
                        </div>
                    </div>
                     <div class="row">
                        <div class="col">
                            <label for="why">Why Should We Hire You?</label>
                            <textarea rows="3" id="why" placeholder="I've been in the landscaping business for 8 years and I'm a hard worker." name="why" ></textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col resume">
                            <label for="resume">Resume Upload</label>
                            <input id="resume" type="file" name="resume" style="margin-bottom: 0; background-color: none; padding: 0;"/>
                            <small id="resumeHelp" class="form-text">Files must not exceed 5MB. Any file over this can be emailed to cdddschlunt@adelphia.net.</small>
                        </div>
                    </div>
                    <input type="text" name="_honey" style="display:none">
                    <div class="row">
                        <div class="col">
                            <button class="btn" type="submit">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>