<div class="carousel-homepage">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="image w-100 h-100" style="background-image: url('/public/images/slide-1.jpg')"></div>
            <div class="overlay w-100 h-100"></div>
            <div class="container">
                <div class="row">
                    <div class="col-12 col-lg-7">
                        <div class="text-container">
                            <h2>Business As Usual</h2>
                            <h1>Landscaping and Snow Maintenance For Over 30 Years</h1>
                            <p>A family-run operation specializing in all things landscaping, landscape design, and weather maintenance.</p>
                            <a class="btn" href="/about">About Us</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item" >
            <div class="image w-100 h-100" style="background-image: url('/public/images/slide-2.jpg')"></div>
            <div class="overlay w-100 h-100"></div>
            <div class="container">
                <div class="row">
                    <div class="col-12 col-lg-7">
                        <div class="text-container">
                            <h2>Business As Usual</h2>
                            <h1>Landscaping and Snow Maintenance For Over 30 Years</h1>
                            <p>A family-run operation specializing in all things landscaping, landscape design, and weather maintenance.</p>
                            <a class="btn" href="/about">About Us</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="image w-100 h-100" style="background-image: url('/public/images/slide-3.jpg')"></div>
            <div class="overlay w-100 h-100"></div>
            <div class="container">
                <div class="row">
                    <div class="col-12 col-lg-7">
                        <div class="text-container">
                            <h2>Business As Usual</h2>
                            <h1>Landscaping and Snow Maintenance For Over 30 Years</h1>
                            <p>A family-run operation specializing in all things landscaping, landscape design, and weather maintenance.</p>
                            <a class="btn" href="/about">About Us</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="overlay"></div>
    </div>
    <button class="carousel-control-prev" type="button" data-target="#carouselExampleIndicators" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-target="#carouselExampleIndicators" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </button>
    </div>
</div>

<div class="espot-homepage">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-3">
                <div class="card">
                    <img src="/public/images/star.svg" alt="star icon">
                    <h2>Quality Service</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur, adipsciping elit, sed do eiusmod tempor incident ut labore.</p>
                </div>
            </div>
            <div class="col-12 col-lg-3">
                 <div class="card">
                    <img src="/public/images/expert.svg" alt="graduation cap icon">
                    <h2>Expert Staff</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur, adipsciping elit, sed do eiusmod tempor incident ut labore.</p>
                </div>
            </div>
            <div class="col-12 col-lg-3">
                 <div class="card">
                    <img src="/public/images/tree.svg" alt="tree icon">
                    <h2>Local Resources</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur, adipsciping elit, sed do eiusmod tempor incident ut labore.</p>
                </div>
            </div>
            <div class="col-12 col-lg-3">
                <div class="card">
                    <img src="/public/images/people.svg" alt="person icon">
                    <h2>Customer Focused</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur, adipsciping elit, sed do eiusmod tempor incident ut labore.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="homepage-twocol">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-6">
                <img class="img-fluid" src="/public/images/homepage-twocol.png" alt="block images of snow, trees landscaping">
            </div>
             <div class="col-12 col-lg-6 d-lg-flex align-items-lg-center">
                <div>
                    <h3>ABOUT US</h3>
                    <h2>Excellence in <span>Landscape Design and Builds</span> - Business As Usual!</h2>
                    <p>Landscaping can help to tell a story about your property - whether that be residential or commercial. Our team can put together a comprehensive landscape design and maintenance plan to help you meet the needs of your property - whatever they may be!</p>
                    <a href="/contact">
                        <img src="/public/images/document.svg" alt="document icon">
                        <h5>ASK ABOUT OUR </br>FREE ESTIMATES!</h5>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="cta-band darkgreen">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-5">
                <h4>QUESTIONS?</h4>
                <h2>Get In Contact!</h2>
                <a class="btn" href="/contact">Contact Page</a>
            </div>
            <div class="col-12 col-lg-3">
                <img src="/public/images/phone.svg" alt="phone icon">
                <a href="tel:4404526697"><h4>440-452-6697</h4></a>
            </div>
            <div class="col-12 col-lg-4">
                <img src="/public/images/mail.svg" alt="phone icon">
                <a href="mailto:"><h4>cdddschlunt@adelphia.net</h4></a>
            </div>
        </div>
    </div>
</div>
