<div class="inner-banner lighter-green">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-6">
                <h2>Services</h2>
                <hr>
                <h1>Lawn Maintenance</h1>
                <p>Trust us to get the details right on whatever type of property you own or manage in NE Ohio!</p>
            </div>
        </div>
    </div>
</div>
<div class="service-detail">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-4">
                <div class="card">
                    <div class="card-body">
                        <h6 class="other">Other Services</h6>
                        <div class="links">
                            <a href="/services/snow-removal">Snow Removal & Ice Control</a>
                            <a href="/services/landscape-install">Landscape Installationl</a>
                            <a href="/services/snow-removal">Snow Removal</a>
                        </div>
                        <h6>Contact</h6>
                        <div class="d-flex">
                            <img src="/public/images/phone.svg" alt="phone icon">
                            <a href="tel:4404526697"><h4>440-452-6697</h4></a>
                        </div>
                        <div class="d-flex">
                             <img src="/public/images/mail.svg" alt="phone icon">
                             <a href="mailto:"><h4>cdddschlunt@adelphia.net</h4></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-8">
                <div class="content">
                    
                </div>
            </div>
        </div>
    </div>
</div>
<div class="cta-band darkgreen">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-5">
                <h4>QUESTIONS?</h4>
                <h2>Get In Contact!</h2>
                <a class="btn" href="/contact">Contact Page</a>
            </div>
            <div class="col-12 col-lg-3">
                <img src="/public/images/phone.svg" alt="phone icon">
                <a href="tel:4404526697"><h4>440-452-6697</h4></a>
            </div>
            <div class="col-12 col-lg-4">
                <img src="/public/images/mail.svg" alt="phone icon">
                <a href="mailto:"><h4>cdddschlunt@adelphia.net</h4></a>
            </div>
        </div>
    </div>
</div>