<div class="interior-banner services-yeah">
    <div class="overlay h-100 w-100"></div>
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-8">
                <h1>Commerical and Residential Landscaping Services</h1>
                <p>Offering outdoor maintenance services throughout Northeast Ohio for over 30 years!</p>
            </div>
        </div>
    </div>
</div>
<div class="cta-band lightgreen">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-5">
                <h4>QUESTIONS?</h4>
                <h2>Get In Contact!</h2>
                <a class="btn" href="/contact">Contact Page</a>
            </div>
            <div class="col-12 col-lg-3">
                <img src="/public/images/phone.svg" alt="phone icon">
                <a href="tel:4404526697"><h4>440-452-6697</h4></a>
            </div>
            <div class="col-12 col-lg-4">
                <img src="/public/images/mail.svg" alt="phone icon">
                <a href="mailto:"><h4>cdddschlunt@adelphia.net</h4></a>
            </div>
        </div>
    </div>
</div>
<div class="services-landing dark">
    <img class="leaves-left" src="/public/images/leaves-transparent.png" alt="transparent leaf icons">
    <img class="leaves-right" src="/public/images/leaves-transparent.png" alt="transparent leaf icons">
    <div class="container">
        <div class="row d-lg-flex justify-content-lg-center">
            <div class="col-12 col-lg-4 text-center main-text">
                <h3>SERVICES</h3>
                <h2>What We <span>Offer</span> </h2>
                <hr>
                <p>Check out our main service </br>categories here! </p>
            </div>
        </div>
        <div class="row d-lg-flex justify-content-lg-center">
            <div class="col-12 col-lg-4">
                <div class="card">
                    <img class="card-img-top" src="/public/images/lawn-maintenance/maint-1.png" alt="lawn maintenance">
                    <div class="card-body text-center">
                        <h5 class="card-title">Lawn Maintenance</h5>
                        <p class="card-text">With our Residential and Commercial weekly maintenance, our attention to detail makes all the difference.</p>
                        <a href="/services/lawn-maintenance" class="btn">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-4">
                <div class="card">
                    <img class="card-img-top" src="/public/images/install/install-1.png" alt="landscape installation">
                    <div class="card-body text-center">
                        <h5 class="card-title">Landscape Installtion</h5>
                        <p class="card-text">Let us design your dream outdoor living space. After our consultation we will make imagination become reality!</p>
                        <a href="/services/landscape-install" class="btn">Read More</a>
                    </div>
                </div>
            </div>
        </div>
         <div class="row d-lg-flex justify-content-lg-center">
            <div class="col-12 col-lg-4">
                <div class="card">
                    <img class="card-img-top" src="/public/images/design/design-1.png" alt="landscape design">
                    <div class="card-body text-center">
                        <h5 class="card-title">Landscape </br>Design</h5>
                        <p class="card-text">Between our award-winning crew of experts and the highest quality materials available, Business As Usual will leave you with an outdoor living space that you are proud to call home.</p>
                        <a href="/services/landscape-design" class="btn">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-4">
                <div class="card">
                    <img class="card-img-top" src="/public/images/snow/snow-1.jpeg" alt="snow and ice">
                    <div class="card-body text-center">
                        <h5 class="card-title">Snow Removal & Ice Control</h5>
                        <p class="card-text">Commercial and Residential snow and ice management working around the clock. With the newest and best in class equipment, Business As Usual efficiently keeps your property safe and accessible 24/7.</p>
                        <a href="/services/snow-removal" class="btn">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>